header{
    height: 400px;
    border: black 2px solid;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr;
    border-radius: 50px;
}
.rubrik{
    background-color: #9DE2FF;
    text-align: center;
    padding-top: 70px;
    font-size: 20px;
    border-radius: 50px;
    border: black 1px solid;

}
.bild img{
    height: 400px;
    border-radius: 50px;
    border: black 1px solid;
}
body{
    background-color: #7DFF72;
}