header{
    background-color: #9DE2FF;
}
body{
    display: grid;    
}
.grid{
    display: grid;
    grid-template-columns: 500px 500px;
    gap: 100px;
}
.head{
    height: 200px;
    background-color: green;
}
.bild img{
    width: 500px;
    margin-left: 50px;
}