header{
    height: 400px;
    border: black 2px solid;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr;
    border-radius: 50px;
}
.rubrik{
    background-color: #9DE2FF;
    text-align: center;
    padding-top: 70px;
    font-size: 20px;
    border-radius: 50px;
    border: black 1px solid;
    width: 581.396px;
    justify-self: right;
}
.bild img{
    height: 400px;
    width: 581.396px;
    border-radius: 50px;
    border: black 1px solid;
    justify-self: left;
}
body{
    background-color: #7DFF72;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80px 30px 470px;
}
.PortionStor{
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #9DE2FF;
    margin-left: 10px;
    margin-right: 10px;
    height: 80px;
    width: auto;
}
.PortionLiten{
    background-color: black;
    border-radius: 1000px;
    width: 230px;
    margin: auto;
}
.PortionLiten h2{
    color: white;
    text-align: center;
    font-size: 35px;
    margin: 20px;
}
.howtodostor{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #9DE2FF;
    height: 580px;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
}
.howtodoliten{
    background-color: black;
    width: fit-content;
    margin: auto;
}
.howtodoliten h2{
    color: white;
    text-align: center;
    font-size: 25px;
    margin: 20px;
}
.howtodostor li{
    margin-top: 20px;
    width: 220px;
    margin-left: 20px;
    margin-right: auto;
    font-size: 18px;
    letter-spacing: 2px;
}
ol{
    margin-top: 40px;
}
.n채ringstor{
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: #9DE2FF;
    height: fit-content;
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
}
.n채ringliten{
    background-color: black;
    width: fit-content;
    margin: auto;
}
.n채ringliten h2{
    color: white;
    text-align: center;
    font-size: 25px;
    margin: 20px;
}
.n채ringstor p{
    font-size: 25px;
    width: 225px;
    letter-spacing: 1px;
    margin-left: 30px;
}
.IngridienserStor{
    background-color: #9DE2FF;
    height: fit-content;
    margin-left: 10px;
    margin-right: 10px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    width: auto;
}
.IngridienserLiten{
    background-color: black;
    width: fit-content;
    margin: auto;
}
.IngridienserLiten h2{
    color: white;
    text-align: center;
    font-size: 25px;
    margin: 20px;
}
ul{
    list-style: none;
}